

 /* ------ Spacing and Layout Helper Classes ----- */

 /* Centers the content in an element vertically and horizontally */

 * {
	font-family: 'Assistant', sans-serif;
	letter-spacing: 0.03em;
 }

 p {
	 font-size: 1.2em;
	 line-height: 2em;
	 
 }

 h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand', sans-serif;
	margin: 1em;
 }
 .center-wrapper {
     display: flex;
     align-items: center;
		 justify-content: center;
 }

 .center-vertical {
	 flex-direction: column;
 }

 .center-text {
	 text-align: center;
 }

 /* Sizes element to take up the full width of the screen */
 .full-width {
     width: 100vw;
     height: 100vh;
 }






 header {
	 background-image: url('images/NewForce-GraphicDesign-Pattern-06.png');
	 background-color:#433e47;
	 background-attachment: fixed;
	 background-position: center bottom;
	 background-repeat: no-repeat;
	 background-size: contain;
 }

 .header-content {
	 margin: auto;
	 padding-top: 20vh;
	 padding: 20vh 5vh 5vh 5vh;
   
 }

 .header-content h1 {
	 color: white;
 }

 .header-content img {
	 display: block;
 }


 /* Card styles */
 .student-card {
	 height: 55vh;
 }

 .student-card button {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 height: 4em;
	 border: none;
	 width: 100%;
	 background-color: inherit;
	 border-top: 1.5px solid #ffc859
	 
 }

 

 .student-card button:hover {
	 background-color: #ffc859;
 }
 .student-info{
	 line-height: 2.5em;
 }

 .student-info .video-heading {
	 display: block;
	 margin-bottom: 1.5em;
	 margin-top: 1em;
 }

 /* Social icons styles */
.social-icons img{
	 height: 2em;
	 margin: 1em;
 }

.social-icons img:hover{
	 opacity: 0.5
 }

 /* Tech stack */

 .tech-stack-logo {
	padding: 1em;
	margin: 0.4em;
 }

.tech-stack-logo img {
	height: 4em;
	display: block;
	margin: auto;
}

.curriculum {
	margin-top: 20vh;
	text-align: center;
	margin-bottom: 20vh;
}

.curriculum h2 {
	margin-top: 3em;
	margin-bottom: 2em;
}

/* Footer */

footer {
	background-color: #433e47;
	color: white;
	height: 30vh;
	width: 100%;
	padding: 3em;
}

footer p {
	margin: 1em;
}

footer a {
	color: white;
}

footer a:hover {
	color: gray;
}









