

 /* ------ Spacing and Layout Helper Classes ----- */

 /* Centers the content in an element vertically and horizontally */

 * {
	font-family: 'Filson Pro', 'Poppins', sans-serif;
	letter-spacing: 0.03em;
 }

 p {
	 font-size: 1.2em;
	 line-height: 2em;

 }

 h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand', sans-serif;
	margin: 1em;

 }
 .center-wrapper {
     display: flex;
     align-items: center;
	justify-content: center;
 }

 .center-vertical {
	 flex-direction: column;
 }

 .center-text {
	 text-align: center;
 }

 /* Sizes element to take up the full width of the screen */
 .full-width {
     width: 100vw;
     height: 100vh;
 }

 .highlight {
	 background-color:  #ffc91f;
 }

 .section-title {
	 width: 80vw;
	 text-align: center;
	 padding: 0.2em;
	 margin: 2em auto;
 }



/* Header styles */

/* @media only screen and (min-width: 992px) {
	header{
		background-size: 30em 10em;
		background-repeat: repeat-x;
	}

} */

@media only screen and (max-width: 991px) {
	header {
		background-size: contain;
		background-repeat: no-repeat;
	 }
}


header {
	background-image: url('/scripts/images/background.png');
	background-color:#166b69;
	background-attachment: fixed;
	background-position: center bottom;

}




 .header-content {
	 margin: auto;
	 padding: 20vh 5vh;
 }

 .header-content h1 {
	 color: #f4ebde;
	 font-size: 4em;
 }

 .header-content img {
	 display: block;
	 width: 40vw;
 }


 /* Hired ribbon */

 .ribbon {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
  }

  .ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #166b69;
}

.ribbon span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 15px 0;
	background-color: #166b69;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	color: #f4ebde;
	font: 700 18px/1 'Lato', sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	text-align: center;
  }

  /* top left*/
  .ribbon-top-left {
	top: -10px;
	left: -10px;
  }
  .ribbon-top-left::before,
  .ribbon-top-left::after {
	border-top-color: transparent;
	border-left-color: transparent;
  }
  .ribbon-top-left::before {
	top: 0;
	right: 0;
  }
  .ribbon-top-left::after {
	bottom: 0;
	left: 0;
  }
  .ribbon-top-left span {
	right: -25px;
	top: 30px;
	transform: rotate(-45deg);
  }


 /* Card styles */
 .student-card {
	 border-radius: 1em;
 }

 .student-card:hover{
	transform: scale(1.02);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 }

 .student-card button {
	 width: 100%;
	 border: none;
	 background-color: inherit;
	 border: 2px solid #ffc91f;
	 border-radius: 0.3em;
	 font-size: 1.1em;
	 margin-top: 1em;
 }



 .student-card button:hover {
	 background-color: #ffc91f;
	 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 }

 .student-info{
	 line-height: 1em;
 }

 .student-info p {
	 text-align: left;
	 margin-left: 2em;
	 font-size: 1em;
 }

 .student-info .video-heading {
	 display: block;
	 margin-bottom: 1.5em;
	 margin-top: 1em;
 }

 .student-modal h2 {
	padding: 0.5em;
	background-color: #ffc91f;
 }

 .close-button-container{
	 height: 1.2em;
	 text-align: center;
	 width: 1em;
	 border-radius: 50%;
	 background-color: #d74423 !important;
	 margin-bottom: 1em;
	 margin-top: 0;
	 padding: 0;
 }

 .close-button {
	 color: #f4ebde;
	 border-radius: 50%;
 }



 /* Social icons styles */

 .student-modal-footer {
	 padding: 2em 0;
 }

 .student-modal-footer h4 {
	 padding: 0.5em;
	 background-color: #ffc91f;
 }
.social-icons img{
	 height: 2.5em;
	 margin: 1em;
 }

.social-icons img:hover{
	opacity: 0.5;
	transform: scale(1.02);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

 }

 .resume-btn {
	background-color: #166b69;
	border-style: none;
	color: #f4ebde
 }

 .social-icons .resume-btn {
	 font-size: 1.5em;
 }

 /* Tech stack */

 .tech-stack-logo {
	padding: 1em;
	margin: 0.4em;
 }

.tech-stack-logo img {
	height: 4em;
	display: block;
	margin: auto;
}

.tech-stack-logo img:hover {
	transform: scale(1.06);
}

.curriculum {
	margin-top: 20vh;
	text-align: center;
	margin-bottom: 20vh;
}

.curriculum h2 {
	margin-top: 3em;
	margin-bottom: 2em;
}

/* Footer */

footer {
	background-color: #444147;
	color: #f4ebde;
	height: 30vh;
	width: 100%;
	padding: 3em;
}

footer p {
	margin: 1em;
}

footer a {
	color: #f4ebde;
}

footer a:hover {
	color: #444147;
}









